# Imagens
Pillow>=10.0.0

# Vídeo
moviepy>=1.0.3

# YouTube upload
google-api-python-client>=2.70.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0

# Outros
pyyaml>=6.0
requests>=2.31.0

# Geração de áudio (TTS)
edge-tts>=6.1.0


# o ollama usado é via API HTTP local (http://localhost:11434), não requer pip package
